cmake/toolchain/**          linguist-vendored
cmake/GitInfo.cmake         linguist-vendored
cmake/FindOpenGLES.cmake    linguist-vendored
cmake/FindPythonModules.cmake linguist-vendored
cmake/CreatePythonVenv.cmake linguist-vendored
LICENSE                     text