name: Clear Cache
on:
  workflow_dispatch:
permissions:
  actions: write
jobs:
  clear-cache:
    name: Clear Cache
    runs-on: ubuntu-20.04

    steps:
      - name: Clear caches
        uses: easimon/wipe-cache@v2